.eventimg2 img {
  object-fit: cover;
  width: 140px;
  height: 140px;
}
.eventimg2 {
  display: inline-block;
}
.mid-hed {
  text-align: center;
  font-size: 25px;
}
.event-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  padding: 3em;
}
.event-grid1 {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3em;
}
.patners img {
  object-fit: cover;
  width: 150px;
  height: 150px;
}
.patners {
  display: inline-block;
}
.patner-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  padding: 3em;
}
.team-listing-wrapper {
  margin-left: 2%;
  margin-right: 2%;
}
@media (max-width: 680px) {
  .team-listing {
    margin: 5px !important;
  }
}
