.eventimg2 img {
  object-fit: cover;
  width: 140px;
  height: 140px;
}
.eventimg2 {
  display: inline-block;
}
.mid-hed {
  text-align: center;
  font-size: 25px;
}
.event-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  padding: 3em;
}
.event-grid1 {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding: 3em;
}
.patners img {
  object-fit: cover;
  width: 150px;
  height: 150px;
  background-color: white;
}
.patners {
  display: inline-block;
}
.patner-grid {
  display: grid;
  grid-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));
  padding: 3em;
}
@media (max-width: 425px) {
  .patner-grid {
    padding: 0px;
  }
}
.team-listing-wrapper {
  margin-left: 2%;
  margin-right: 2%;
}
@media (max-width: 680px) {
  .team-listing {
    margin: 5px !important;
  }
}
@media (min-width: 1000px) {
  .doone {
    display: block !important;
  }
}
.doone {
  display: none;
}
.padset {
  padding-bottom: 27px !important;
}

.map-container-2{
  overflow:hidden;
  padding-bottom:56.25%;
  position:relative;
  height:0;
  }
  .map-container-2 iframe{
  left:0;
  top:0;
  height:100%;
  width:100%;
  position:absolute;
  }

  .modal {
    width: auto;
    height: auto;
    position: fixed;
    top: 25%; 
 }
 .btn-primary{
   color: black;
 }
 .btn-primary:hover{
  color: white;
}
.btn-primary > a{
  color: black;
}
.btn-primary:hover > a{
 color: white;
}
.close{
  color: white;
}